div {
  /* -ms-border-radius */
  /* -ms-border-radius */
  /* The syntax of the first radius allows one to four values */
  /* Radius is set for all 4 sides */
  -ms-border-radius: 10px;
  /* top-left-and-bottom-right | top-right-and-bottom-left */
  -ms-border-radius: 10px 5%;
  /* top-left | top-right-and-bottom-left | bottom-right */
  -ms-border-radius: 2px 4px 2px;
  /* top-left | top-right | bottom-right | bottom-left */
  -ms-border-radius: 1px 0 3px 4px;
  /* The syntax of the second radius allows one to four values */
  /* (first radius values) / radius */
  -ms-border-radius: 10px 5% / 20px;
  /* (first radius values) / top-left-and-bottom-right | top-right-and-bottom-left */
  -ms-border-radius: 10px 5% / 20px 30px;
  /* (first radius values) / top-left | top-right-and-bottom-left | bottom-right */
  -ms-border-radius: 10px 5px 2em / 20px 25px 30%;
  /* (first radius values) / top-left | top-right | bottom-right | bottom-left */
  -ms-border-radius: 10px 5% / 20px 25em 30px 35em;
  -ms-border-radius: inherit;
  /* Vertical line */
  /* Horizontal line */
  -ms-border-radius: 1em/5em;
  /* is equivalent to */
  -ms-border-top-left-radius:     1em 5em;
  -ms-border-top-right-radius:    1em 5em;
  -ms-border-bottom-right-radius: 1em 5em;
  -ms-border-bottom-left-radius:  1em 5em;
  -ms-border-radius: 4px 3px 6px / 2px 4px;
  /* is equivalent to: */
  -ms-border-top-left-radius:     4px 2px;
  -ms-border-top-right-radius:    3px 4px;
  -ms-border-bottom-right-radius: 6px 2px;
  -ms-border-bottom-left-radius:  3px 4px;
}
