div {
  /* border-collapse */
  /* Keyword values */
  border-collapse: collapse;
  border-collapse: separate;
  /* Global values */
  border-collapse: inherit;
  border-collapse: initial;
  border-collapse: unset;
}
