div {
  /* border-left-width */
  /* Keyword values */
  border-left-width: thin;
  border-left-width: medium;
  border-left-width: thick;
  /* <length> values */
  border-left-width: 10em;
  border-left-width: 3vmax;
  border-left-width: 6px;
  /* Global keywords */
  border-left-width: inherit;
  border-left-width: initial;
  border-left-width: unset;
}
