/* cursor */
/* Keyword value only */
cursor: pointer;
cursor: auto;
/* Using URL and coordinates */
cursor: url(cursor1.png) 4 12, auto;
cursor: url(cursor2.png) 2 2, pointer;
/* Global values */
cursor: inherit;
cursor: initial;
cursor: unset;
cursor: url(one.svg), url(two.svg) 5 5, progress;
/* A fallback keyword value is required when using a URL */
