div {
  /* font-family */
  /* A generic family name only */
  font-family: serif;
  font-family: sans-serif;
  font-family: monospace;
  font-family: cursive;
  font-family: fantasy;
  font-family: system-ui;

  /* Global values */
  font-family: inherit;
  font-family: initial;
  font-family: unset;
}
