div {
  /* list-style-position */
  /* Keyword values */
  list-style-position: inside;
  list-style-position: outside;
  /* Global values */
  list-style-position: inherit;
  list-style-position: initial;
  list-style-position: unset;
}
