div {
  /* list-style-type */
  /* Partial list of types */
  list-style-type: disc;
  list-style-type: circle;
  list-style-type: square;
  list-style-type: decimal;
  list-style-type: georgian;
  list-style-type: cjk-ideographic;
  list-style-type: kannada;

  /* <string> value */
  list-style-type: '-';
  list-style-type: '*';
  list-style-type: '&';
  list-style-type: '^';
  list-style-type: '%';
  list-style-type: '$';
  list-style-type: '#';
  list-style-type: '@';
  list-style-type: '!';
  list-style-type: '~';
  list-style-type: ':';
  list-style-type: '?';
  list-style-type: '|';

  /* Keyword value */
  list-style-type: none;
  /* Global values */
  list-style-type: inherit;
  list-style-type: initial;
  list-style-type: unset;
}
