div {
  /* position */
  /* Keyword values */
  position: static;
  position: relative;
  position: absolute;
  position: fixed;
  position: sticky;
  /* Global values */
  position: inherit;
  position: initial;
  position: unset;
}
