div {
  /* text-align */
  /* Keyword values */
  text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify;
  text-align: justify-all;
  text-align: start;
  text-align: end;
  text-align: match-parent;
  /* Global values */
  text-align: inherit;
  text-align: initial;
  text-align: unset;
}
