div {
  /* text-decoration-line */
  /* Keyword values */
  text-decoration-line: none;
  text-decoration-line: underline;
  text-decoration-line: overline;
  text-decoration-line: line-through;
  text-decoration-line: blink;
  /* Global values */
  text-decoration-line: inherit;
  text-decoration-line: initial;
  text-decoration-line: unset;
}
