
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
}
