
div {
  background-color: #fff;
}
.empty {
  background-color: #000;
  font-size: 2em;
}
body {
  padding: 20px 0 0 10em;
  background-color: #000;
  background-repeat: no-repeat;
  background-color: #f0f;
  background-image: url('/sample/image-01.png');
}
