/* -moz-border-radius */
/* The syntax of the first radius allows one to four values */
/* Radius is set for all 4 sides */
-moz-border-radius: 10px;
/* top-left-and-bottom-right | top-right-and-bottom-left */
-moz-border-radius: 10px 5%;
/* top-left | top-right-and-bottom-left | bottom-right */
-moz-border-radius: 2px 4px 2px;
/* top-left | top-right | bottom-right | bottom-left */
-moz-border-radius: 1px 0 3px 4px;
/* The syntax of the second radius allows one to four values */
/* (first radius values) / radius */
-moz-border-radius: 10px 5% / 20px;
/* (first radius values) / top-left-and-bottom-right | top-right-and-bottom-left */
-moz-border-radius: 10px 5% / 20px 30px;
/* (first radius values) / top-left | top-right-and-bottom-left | bottom-right */
-moz-border-radius: 10px 5px 2em / 20px 25px 30%;
/* (first radius values) / top-left | top-right | bottom-right | bottom-left */
-moz-border-radius: 10px 5% / 20px 25em 30px 35em;
-moz-border-radius: inherit;
/* Vertical line */
/* Horizontal line */
-moz-border-radius: 1em/5em;
/* is equivalent to */
-moz-border-top-left-radius:     1em 5em;
-moz-border-top-right-radius:    1em 5em;
-moz-border-bottom-right-radius: 1em 5em;
-moz-border-bottom-left-radius:  1em 5em;
-moz-border-radius: 4px 3px 6px / 2px 4px;
/* is equivalent to: */
-moz-border-top-left-radius:     4px 2px;
-moz-border-top-right-radius:    3px 4px;
-moz-border-bottom-right-radius: 6px 2px;
-moz-border-bottom-left-radius:  3px 4px;
