
/* Setup vars: */
GREY  = rgb(1, 1, 1);
WHITE = #FFF;
BLACK = #000;
LIGHT_BLACK = {{BLACK}}0011;

div { background-color: {{WHITE}}; }
.empty {
  background { color: {{BLACK}}; }
  font { size: 1em; }
  font-size: 2em;
}

@media (max-width: 12450px, min-width: 1000px) {
  body {
    padding: 20px 0 0 10em;
    background-color: {{BLACK}};
    background {
      color: {{GREY}};
      repeat: no-repeat;
    }
    background-color: {{LIGHT_BLACK}};
  }
}

/* Insert CSS code from other files here: */
include("./file.css");


