
div { background-color: #fff; }

.empty {
  background-color: #000;
  font-size: 2em;
}

@media (max-width: 12450px, min-width: 1000px) {
  body {
    padding: 20px 0 0 10em;
    background-color: #000;
    background-repeat: no-repeat;
    background-color: #f0f;
  }
}


